.body {
    padding-top: 200px;
    text-align: center;
    height: 100vh;
    width: 100vw;
}

#button1 {
    background-color: #e0e0e0;
    border: 2px;
    border-style: solid;
    height: 70px;
    width: 24%;
    border-radius: 10px;
    text-align: center;
    font-size: 11px;
    border-width: 2.5px;
}

#button2 {
    background-color: #6fcf97;
    border: 2px;
    border-style: solid;
    height: 70px;
    width: 24%;
    border-radius: 10px;
    text-align: center;
    font-size: 11px;
    border-width: 2.5px;
}

#button3 {
    background-color: #56ccf2;
    border: 2px;
    border-style: solid;
    height: 70px;
    width: 24%;
    border-radius: 10px;
    text-align: center;
    font-size: 11px;
    border-width: 2.5px;
}

#button4 {
    background-color: #bb6bd9;
    border: 2px;
    border-style: solid;
    height: 70px;
    width: 24%;
    border-radius: 10px;
    text-align: center;
    font-size: 11px;
    border-width: 2.5px;
}

.p {
    margin-top: 20px;
    background-color: black;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}
